<div class="container">
    <div class="row">
      <div class="col-6 p-3">
        <form [formGroup]="createUserForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="name">email</label>
              <input type="text" formControlName="email" class="form-control" id="name" placeholder="name">
            </div>
           
            <div class="form-group col-md-6">
              <label for="City">price</label>
              <input type="text" formControlName="password" class="form-control" id="City" placeholder="City">
            </div>
          </div>
          
  
          
           
            <button (click)="onSave()"  type="button" class="btn btn-success">Create</button>
           
          
        </form>
        </div>
        
    </div>
  </div>
  
  