.card {
    flex: 1 1 auto; 
    min-width: 250px; 
    max-width: 300px; 
    transition: all 0.3s ease; 
}

.card:hover {
    transform: scale(1.05); 
}
.resizable {
    position: relative;
    overflow: hidden;
    min-height: 190px;
    min-width: 270px; 
}

.card {
    transition: width 0.2s, height 0.2s; 
}
.card[_ngcontent-ng-c4187997003] {
    flex: 1 1 auto;
    min-width: 250px;
    max-width: 700px;
    transition: all 0.3s ease;
}
.resizer {
    width: 10px;
    height: 10px;
    background: red; 
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: nwse-resize; 
}


.btn-outline-primary {
    background-color: #f8f9fa;
    border-color: #007bff;
    color: #007bff;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 25px;
    padding: 10px 20px;
    width: 100%;
}


.dropdown-menu {
    padding: 0;
    border-radius: 10px;
    border: 1px solid #007bff;
    transition: all 0.3s ease-in-out;
}


.dropdown-item {
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 20px;
    color: #343a40;
    transition: all 0.2s ease;
}


.dropdown-item:hover {
    background-color: #007bff;
    color: #fff;
}


.shadow-lg {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.dropdown-item strong {
    display: block;
    text-align: center;
}
